body {
  background-image: url("/images/bg2.jpg");

  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main-c {
  /* border: 2px solid rgb(235, 230, 230); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91vh;
}
.main {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  /* margin-top: 10%; */
  width: 60%;
  height: 40vh;
}

/* .fa-google {
  font-size: 40px;
  margin: 10px;
} */
.credentials form {
  display: flex;
  flex-direction: column;
}

.credentials form input {
  width: 35vh;
  height: 4vh;
  margin-top: 5%;
  border-radius: 10px;
}
.credentials form div .btn {
  width: 10vh;
  background-color: rgb(71, 71, 71);
  color: wheat;
  /* margin-left: 5%; */
}
.redirect a {
  color: black;
  font-size: 1.9rem;
  font-weight: 550;
}
.gauth {
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  font-size: 2rem;
  padding: 1%;
  border-radius: 20px;
}
